.container {
  display: flex;
  margin: 0 100px;
  max-width: 1200px;
  align-items: center;
}

.header {
  background-color: #0017c1;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.checkBoxMenu {
  padding: 0.25rem;
}

.prefecture {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.populationComposition {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
