.headingL {
  font-size: 2.25rem;
  line-height: 1.4;
  font-weight: 400;
}

.headingM {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
}

.headingBox {
  border: solid 3px #264af4;
  border-radius: 9999px;
  margin: 1rem;
  padding: 0.5rem;
  width: fit-content;
}

.textL {
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 400;
}

.checkBox {
  margin-right: 3px;
  transform: scale(1.4);
}
